h1 {
  text-align: center;
}
div.one {
  background-color: greenyellow;
  width: 410px;
  height: 300px;
  font-size: large;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-right: 90px;
}
div.two {
  background-color: red;
  width: 285px;
  height: 75px;
  position: absolute;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 20px;
  left: 100px;
}

div.lorem {
  border: solid;
  border-color: brown;
  width: 190px;
  height: 65px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-left: 100px;
  position: sticky;
  top: 0px;
}
div.container {
  display: flex;
}
input.readmore:hover {
  background-color: grey;
  color: black;
}

#button {
  background-color: blue;
  border: none;
  color: white;
  width: 100px;
  height: 40px;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
}
div.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
div.explanation {
  background-color: grey;
  height: 85px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
section.all {
  display: flex;
  justify-content: space-evenly;
}
section.mainblog {
  height: 200vh;
}
